<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/build/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <title>Hackathon</title>
  </head>

  <body class="h-screen overflow-hidden">
    <div class="flex flex-col h-screen justify-between bg-gray-600 items-center">
      <header class="flex justify-center h-16 w-full">
        <nav class="flex flex-row justify-between w-9/12">
          <div
            class="left-nav flex flex-row justify-evenly items-center w-3/12 h-full"
          >

          
            <a class="nav-items" href="/">
            <img src="/icons/logo.svg" alt="App logo" class="inline-block">
            Orbis Foods</a>

          </div>
          <div
            class="mid-nav mb-auto w-6/12 h-full flex flex-row justify-end items-center pr-4"
          >

          {{!-- search query --}}
          <form action="/recipes/search" method="POST" class="flex items-center border-b border-white py-1">
                        <select name="category" id="category">
              <option value="title">Title</option>
              <option value="country">Country</option>
              <option value="tags">Tags</option>
            </select>
    <input id="q" name="q" class="appearance-none bg-transparent border-none w-full text-black mr-3 py-1 px-2 leading-tight focus:outline-none" type="text">
    <button id="search-icon" class="flex-shrink-0 bg-white hover:bg-white border-white hover:border-black text-sm border-2 text-white py-1 px-2 rounded">
                 <img
              

              class="cursor-pointer"
              src="/icons/search.svg"
              alt="Search Icon"
            />

    </button>
  </form>
          {{!-- <div id="query">
            <select name="category" id="category">
              <option value="title">Title</option>
              <option value="country">Country</option>
              <option value="tags">Tags</option>
            </select>
            <input type="text" id="q" class="">
            </div> --}}

             <a class="nav-items mx-4 bg-teal-400 hover:bg-white text-black font-bold py-2 px-4 rounded-full" href="/recipes/new">
             <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
             Add Recipe</a>
          </div>
          <div
            class="flex flex-row justify-evenly items-center right-nav w-3/12 h-full"
          >
            {{#if user}}
                <a class="nav-items" href="/recipes/">{{user.username}}</a>
            {{else}}
                <a class="nav-items" href="/users/register">Sign Up</a>
                <a class="nav-items" href="/users/login">Log In</a>
            {{/if}}
          </div>
        </nav>
      </header>
      <main class="flex justify-center bg-black h-full w-full">
        <section id="main-section" class="w-9/12 h-full">{{{body}}}</section>
      </main>
      <footer class="w-9/12 h-12 sticky"></footer>
    </div>

    {{!-- TODO: Add function to show search bar when icon is clicked  --}}

    <script>
     /* const category = document.getElementById('category')
      const input = document.getElementById('q')
        const search = document.getElementById("search-icon");
        search.addEventListener('click', (e) => {
          const cat = category.value
          const q = input.value
          axios.get(`/recipes/search/${cat}:${q}`)
      })*/
    </script>
  </body>
</html>
