<div class="flex h-full w-full">
<div class="flex flex-col h-full overflow-hidden w-6/12">
  <form
    class="flex flex-col h-auto w-full"
    action="/recipes/"
    method="POST"
    id="recipe-form"
  >
   
    <div class="recipe-form-panel">
      <label for="title" class="form-label mt-20">First add a title!</label>
      <input type="text" name="title" class="form-input" />
      <button id="next-button" class="px-4 py-2 h-10 bg-blue-100 rounded-xl">Next Item!</button>
    </div>

    <div class="recipe-form-panel">
      <label for="country" class="form-label mt-10">Country </label>
      <input type="text" name="country" class="form-input" />
    </div>

    <div class="recipe-form-panel">
      <label for="city" class="form-label">City</label>
      <input type="text" name="city" class="form-input" />
    </div>

    <div class="recipe-form-panel">
      <label for="intro" class="form-label">Introduction</label>
      <textarea type="text" name="intro" class="form-input"></textarea>
    </div>

    <div class="recipe-form-panel">
      <label for="cook_minutes" class="form-label inline">Cooking Time</label>
      <input type="number" name="cook_minutes" class="form-input w-3/12 inline" />
    </div>

    <div class="recipe-form-panel">
      <label for="img" class="form-label w-5/12">Image</label>
      <input type="text" name="img" class="form-input" />
    </div>
    
    <div class="recipe-form-panel">
      <label for="ingredients" class="form-label">Ingredients</label>
      <input
        type="text"
        name="ingredients"
        class="form-input"
        id="ingredient-field"
      />
      <button id="add-ingredient" class="bg-blue-100">Add Ingredient</button>
    </div>
    
    <div class="recipe-form-panel">
      <label for="steps" class="form-label">Steps</label>
      <input type="text" name="steps" class="form-input" id="step-field"/>
    <button id="add-step" class="bg-blue-100 button">Add Step</button>

    </div>



    <div class="recipe-form-panel">
      <label for="tags" class="form-label">Tags</label>
      <input type="text" name="tags" class="form-input" id="tag-field" />
    <button id="add-tag" class="bg-blue-100">Add Tag</button>

    </div>

    <div class="recipe-form-panel">
      <input type="submit" id="submit-button" value="Add Recipe" />
    </div>

  </form>

</div>
  <div class="w-6/12 h-full p-10 text-black text-xl">
    <div class="w-full h-full bg-gray-200 rounded-xl">
      <div>
        <div class="flex inline-block hidden recipe-areas"><h3 class="recipe-card-headings">Title:</h3></div>
      </div>

      <div class="flex justify-between">
        <div class="recipe-areas flex  inline-block hidden"><h3 class="recipe-card-headings">Country: </h3></div>
        <div class="recipe-areas flex  inline-block hidden"><h3 class="recipe-card-headings">City: </h3></div>
      </div>

        <div class="recipe-areas flex  inline-block hidden h-64"><h3 class="recipe-card-headings">Introduction: </h3></div>
        <div class="recipe-areas flex  inline-block hidden"><h3 class="recipe-card-headings">Cooking Time: </h3></div>
        <div class="recipe-areas flex  inline-block hidden"><h3 class="recipe-card-headings">Image: </h3></div>
        <div id="ingredients-container" class="recipe-areas flex  hidden"><h3 class="recipe-card-headings">Ingredients: </h3></div>
        <div id="steps-container" class="recipe-areas flex  hidden"><h3 class="recipe-card-headings">Steps: </h3></div>
        <div id="tags-container" class="recipe-areas flex  hidden"><h3 class="recipe-card-headings">Tags: </h3></div>
    </div>
  </div>
</div>
<script>
  // Function to add fields to recipe preview

  const fieldContainer = document.querySelectorAll(".recipe-areas")
  const ingredientsContainer = document.getElementById("ingredients-container")
  const addIngredient = document.getElementById("add-ingredient");
  const addStep = document.getElementById("add-step");
  const addTag = document.getElementById("add-tag");
  
  const ingredientField = document.getElementById("ingredient-field");
  const stepField = document.getElementById("step-field");
  const tagField = document.getElementById("tag-field");

  let ingredients = [];
  let steps = [];
  let tags = [];


  function setupArray(node, input, array, name){
    node.addEventListener("click", (event)=>{
      event.preventDefault();
      array.push(input.value)
        
    let element = document.createElement('p')
    element.textContent = `${input.value}`

    let container = document.getElementById(`${name}-container`)
    container.appendChild(element)

    input.value = ''
    })
  }
  
  setupArray(addIngredient, ingredientField, ingredients, "ingredients")
  setupArray(addStep, stepField, steps, "steps")
  setupArray(addTag, tagField, tags, "tags")



  const submitButton = document.getElementById('submit-button')
  const recipeForm = document.getElementById('recipe-form')

  submitButton.addEventListener("click", (event)=>{
    event.preventDefault()
    ingredientField.value = ingredients
    stepField.value = steps
    tagField.value = tags
    recipeForm.submit()
  })


  // create scrolling form
  const nextButton = document.getElementById('next-button')

  const panels = document.querySelectorAll('.recipe-form-panel')
  const inputs = document.querySelectorAll('.form-input')
  
  let counter = 1
  let inputCounter = 0

  nextButton.addEventListener('click', (event)=>{
    event.preventDefault()
    panel = panels[counter]
    input = inputs[inputCounter]

    let p = document.createElement("p");
    p.textContent = `${input.value}`;
    p.classList.add('inline-block')
    fieldContainer[inputCounter].appendChild(p);
    fieldContainer[inputCounter].classList.remove('hidden')

    panel.scrollIntoView({behavior: "smooth", block: "end"})
    counter + 1 !== panels.length && panel.appendChild(nextButton)

    counter++
    inputCounter++
  })

</script>
